/* Put your CSS here */
html, body {
  margin: 20px; }

#display-character .undertitle {
  display: inline-block;
  padding: 4px; }
#display-character .undertitle .value {
  display: block;
  border-bottom: solid black 1px; }
#display-character .undertitle .label {
  font-size: 0.8em;
  text-transform: uppercase; }

/* Edit Character */
label {
  display: inline-block;
  width: 8em; }
