/* Put your CSS here */
html, body {
  margin: 20px; }

#display-character {
  line-height: 1.1; }
  #display-character .row, #display-character #about {
    display: flex;
    flex-direction: row;
    align-items: baseline; }
  #display-character .main {
    flex: auto; }
  #display-character #level-xp {
    border: solid black 2px;
    border-radius: 1em; }
  #display-character #level-xp, #display-character #height-weight {
    width: 10ex; }
    #display-character #level-xp .undertitle, #display-character #height-weight .undertitle {
      display: block;
      text-align: center; }
  #display-character .undertitle {
    display: inline-block;
    padding: 4px;
    flex: auto; }
  #display-character .undertitle .value {
    display: block;
    border-bottom: solid black 1px;
    min-height: 1.1em; }
  #display-character .undertitle .label {
    font-size: 0.8em;
    text-transform: uppercase; }
  #display-character #stats .stat-trio > .stat:first-of-type {
    font-size: 150%; }
  #display-character #stats .stat {
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: column-reverse;
    min-width: 1.5em;
    padding: 3px;
    margin: 3px;
    border-radius: 0.5em;
    border: solid black 1px; }
    #display-character #stats .stat .key {
      font-size: 70%; }

/* Edit Character */
label {
  display: inline-block;
  width: 8em; }
