/* Put your CSS here */
html, body {
    margin: 20px;
}

#display-character {

	line-height: 1.1;

	.row, #about {
		display: flex;
	    flex-direction: row;
	    align-items: baseline;
	}

	.main {
		flex: auto;
	}

	#level-xp {
		border: solid black 2px;
		border-radius: 1em;
	}

	#level-xp, #height-weight {
		width: 10ex;
		.undertitle {
			display: block;
			text-align: center;
		}
	}

	.undertitle {
		display: inline-block;
		padding: 4px;
		flex: auto;
	}

	.undertitle .value {
		display: block;
		border-bottom: solid black 1px;
		min-height: 1.1em;
	}

	.undertitle .label {
		font-size: 0.8em;
		text-transform: uppercase;
	}

	#stats {
		.stat-trio > .stat:first-of-type {
			font-size: 150%;
		}

		.stat {
			text-align: center;
			display: inline-flex;
			vertical-align: middle;
			flex-direction: column-reverse;
			min-width: 1.5em;
			padding: 3px;
			margin: 3px;
			border-radius: 0.5em;
			border: solid black 1px;

			.key {
				font-size: 70%;
			}
		}
	}
}






/* Edit Character */

label {
	display: inline-block;
	width: 8em;
}
